body { background-color: rgba(156, 156, 152, 0.356);}

h1#encabezado_ppal {textfont-style: arial;font-weight: bold;color: rgb(12, 12, 12);text-align:center;}
h2#subtitulo_2 {font-style: arial;font-weight: bold;color: rgb(24, 22, 22);background-color: rgb(174, 174, 190);text-decoration: underline;}
h3#subtitulo_3 {font-style: arial;font-weight: bold;color: rgb(12, 12, 12);background-color: rgb(174, 174, 190);text-decoration: underline;}

.p1{color: rgb(1, 0, 7);font-style: italic;background-color:rgba(168, 168, 172, 0.301); text-align:justify;}

.p2{color: rgb(15, 14, 14);font-style: italic;font-weight: bold;background-color: white; text-align: right;}

.p3{color: rgb(15, 14, 14);font-style: italic;font-weight: bold;background-color: white; font-size: smaller; text-align: center;}

span.blue {color: rgb(50, 97, 252); }

span.bold {color: rgb(50, 97, 252); font-weight: bold; }